/*
   Web Development Final Assignment
   
   Groupe

   Filename: ContactUs.css

   Date: March 24, 2022
*/

/* Contact Us Page Layout Styles */

main {
  background-color: #FCF0C8;
  display: grid;/*block;*/
  border: black 0px solid;
  border-bottom: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

#contactus{
  margin-top: 70px ;
  padding-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: #9e2c49;
}
/*
#content-container {
  margin-bottom: 0;
  padding: 10px 10px 0px 10px;
  width: 960px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: sticky;

}
*/
#content-container {
  /* margin-top: 10px;
  margin-bottom: 0; */
  margin: 0 auto;
  padding: 10px 10px 0px 10px;
  width: 960px;
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: sticky;
  background-color: #FCF0C8;
  display: grid;/*block;*/
  border: black 0px solid;
  border-bottom: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  /*
    overflow-y: scroll;
  overflow-x: hidden;
*/
}

#content-container article {   
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

#content-container article img {
      max-width: 90%;
      margin: 10px 10px 0 10px;
      padding: 0px;
      align-content: center; 
}      

.button_default {
  color: #9e2c49;
}

.button1{
  padding: 5px;
  background-color:#9e2c49;
  color: white;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}


.button{
    display: inline-block;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    white-space: nowrap;
    background-color: #9e2c49;
    border-radius: 10px;
    border: 1px solid #bbb;
}


.button:hover {
  background-color:gold;
  color: black;
  font-size: 1em;
  box-shadow: 2px 3px 4px gray;
}

.text {
  padding: 0 20px 20px ;  
}

